@font-face {
  font-family: "bignoodle";
  src: url("../../../assets/fonts/bignoodletitlingoblique.ttf");
}

.formtext {
  font-family: "bignoodle";
  font-size: 1.5rem;
  border-color: #0d6efd;
}

.paginatortext {
  font-family: "bignoodle";
}

.paginatorbg {
  background: linear-gradient(#19193f, #0f325b);
  border-color: #0d6efd;
}

.labeltext {
  font-family: "bignoodle";
}

li {
  cursor: pointer;
  user-select: none;
}

.jumbotron {
  background: linear-gradient(#19193f, #0f325b);
}

button {
  font-family: "bignoodle";
  background: linear-gradient(#19193f, #0f325b);
  font-size: 1.5rem;
}
