<div class="col-12">
  <div class="mt-4 p-5 text-white rounded hotstext">
    <h1 class="hotstitle mb-5">Hero Editor</h1>
    <p>Üdvözöllek!</p>
    <p>
      Bizonyára már te is észrevetted játékaid során, hogy vannak olyan
      karakterek, amikkel nem szívesen találkoznál, miközben mész felfele a
      létrán.
    </p>
    <p>
      Ez az oldal azt a célt szolgálja, hogy ezeket a herokat elkerüld. Szimplán
      csak töröld ki az antipatikus herot és nem fog többé fájni a fejed miatta.
    </p>
    <p>
      Az Editor segítségével pedig számon tarthatod a karaktereid szintjét,
      illetve a korábban még nem birtokolt harcosokat is beállíthatod
      birtokoltra, ha közben megvásároltad a játékban.
    </p>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" routerLink="/herolist">
      HERO LIST
    </button>
  </div>
</div>
