@font-face {
  font-family: "bignoodle";
  src: url("../../../assets/fonts/bignoodletitlingoblique.ttf");
}

.hotstext {
  font-family: "bignoodle";
  font-size: 2rem;
}

.hotstitle {
  font-family: "bignoodle";
  font-size: 4rem;
}

button {
  font-family: "bignoodle";
  background: linear-gradient(#19193f, #0f325b);
  font-size: 1.5rem;
}
